html {margin:0; padding:0; font-size:62.5%; line-height: 1.15; }
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {color:#222; font: 400 1.4rem/100% "Noto Sans Korean", sans-serif; 
word-wrap:break-word; word-break:keep-all; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}